# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Ignore large model files but keep configs
checkpoints/**/*.ckpt
checkpoints/**/*.pt
checkpoints/**/*.pth
checkpoints/**/*.engine
checkpoints/**/*.onnx
checkpoints/**/*.trt
checkpoints/**/*.plan
checkpoints/**/*_trt/
checkpoints/*.npz

/output
checkpoints/sam-3d-body-dinov3/LICENSE
checkpoints/mhr_face_mask.ply
checkpoints/sam-3d-body-dinov3/README.md
